@font-face {
  font-family: 'NNR';
  src: url("../fonts/NNR.woff2") format("woff2"), 
       url("../fonts/NNR.ttf") format("truetype"), 
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}